---
import AboutHero from '../components/AboutHero.astro'
import SoftSkills from '../components/SoftSkills.astro'
import WorkingTogether from '../components/WorkingTogether.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Johannes Drechsler: About">
  <main class="flex flex-col gap-16 mt-6">
    <AboutHero />
    <SoftSkills />
    <WorkingTogether />
  </main>
</Layout>
