---
import AboutHero from '../components/AboutHero.html'
import AboutMain from '../components/AboutMain.html'
import WorkingTogether from '../components/WorkingTogether.html'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Johannes Drechsler: About">
  <main class="flex flex-col gap-16 py-16 md:py-24">
    <AboutHero />
    <AboutMain />
    <WorkingTogether />
  </main>
</Layout>