---
import Hero from '../components/Hero.astro'
import SoftSkills from '../components/SoftSkills.astro'
import WorkingTogether from '../components/WorkingTogether.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Johannes Drechsler: Personal Site">
  <main class="flex flex-col gap-16 mt-6">
    <Hero />
    <SoftSkills />
    <WorkingTogether />
  </main>
</Layout>
