---
import Hero from '../components/Hero.html'
import SoftSkills from '../components/SoftSkills.html'
import WorkingTogether from '../components/WorkingTogether.html'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Johannes Drechsler: Personal Site">
  <main class="flex flex-col gap-16 mt-6">
    <Hero />
    <SoftSkills />
    <WorkingTogether />
  </main>
</Layout>
