---
import WorkHero from '../components/WorkHero.html'
import WorkExperience from '../components/WorkExperience.html'
import WorkingTogether from '../components/WorkingTogether.html'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Johannes Drechsler: Work">
  <main class="flex flex-col gap-16 py-16 md:py-24">
    <WorkHero />
    <WorkExperience />
    <WorkingTogether />
  </main>
</Layout>
