<div class="w-full mx-auto px-[1.5rem] max-w-[83rem]">
  <section
    class="grid gap-x-5 gap-y-5 text-center justify-center justify-items-center items-center gap-y-[2rem] gap-x-[3.75rem] lg:px-[2.5rem]"
  >
    <div class="flex flex-col md:gap-5">
      <h1
        class="text-[42px] text-[#090b11] font-bold tracking-wider leading-[1.1] md:text-7xl"
      >
        About
      </h1>
      <p
        class="text-xl max-w-[37ch] mx-auto md:mx-0 text-[#3d4663] max-w-3xl !leading-[39px] md:text-[26px]"
      >
        Thanks for stopping by. Read below to learn more about myself and my
        background.
      </p>
    </div>
    <img
      class="bg-gray-100 rounded-[4.5rem] shadow-md object-cover w-[400px] max-h-[420px] md:w-[480px] md:max-h-none"
      src="assets/profile.jpg"
      alt="Myself in Daytona Beach, Florida"
    />
  </section>
</div>
