<section
  class="flex flex-col gap-5 w-full mx-auto px-[1.5rem] max-w-[83rem] text-lg text-[#3d4663] md:text-xl md:gap-10"
>
  <p class="text-red-900 text-base">
    I am definifely not a writer but I will try my best 😉
  </p>
  <div class="grid gap-2 items-start lg:grid-cols-[200px,auto]">
    <h2 class="text-[26px] text-[#090b11] font-semibold">Background</h2>
    <ul class="grid gap-2">
      <li>🇩🇪</li>
      <li>🇺🇲</li>
      <li>🇪🇸</li>
    </ul>
  </div>
  <div class="grid gap-2 items-start lg:grid-cols-[200px,auto]">
    <h2 class="text-[26px] text-[#090b11] font-semibold">Education</h2>
    <ul class="grid gap-2">
      <li>
        I received my degree in Computer Science (Major: System Integration)
        from the BSZ7 Leipzig in 2015.
      </li>
      <li>
        I did a 6 months nanodegree with the Google Chrome Developer team (on
        Udacity) to become a certified Mobile Web Specialist. I learned deep
        knowledge about PWAs, performance, accessibility, browser rendering
        pipeline and more.
      </li>
      <li>
        I also did a lot of courses to even further my knowledge because I want
        to know the ins and outs of the web.

        <ul>
          <li class="font-semibold">
            👉🏻 Find all the courses I did on my LinkedIn profile:
            <a href="https://www.linkedin.com/in/jdrechslerus">Linkedin</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="grid gap-2 items-start lg:grid-cols-[200px,auto]">
    <h2 class="text-[26px] text-[#090b11] font-semibold">Skills</h2>
    <ul class="grid gap-2">
      <li>
        Lots and lots since Full-Stack Software Engineering will make you learn
        lots and lots of tools. 😂
      </li>
    </ul>
  </div>
  <div class="grid gap-2 items-start lg:grid-cols-[200px,auto]">
    <h2 class="text-[26px] text-[#090b11] font-semibold">Hobbies</h2>
    <ul class="grid grid-flow-col gap-2">
      <li>🥁</li>
      <li>🎸</li>
      <li>🎮</li>
      <li>🏄‍♂️</li>
      <li>🏂</li>
      <li>🚴‍♂️</li>
      <li>🏋️‍♂️</li>
      <li>🏃‍♂️</li>
    </ul>
  </div>
</section>
