<div class="w-full mx-auto px-[1.5rem] max-w-[83rem]">
  <section
    class="grid md:grid-cols-[6fr,4fr] gap-x-5 gap-y-5 text-center justify-center justify-items-center items-center gap-y-[2rem] gap-x-[3.75rem] md:text-left lg:px-[2.5rem]"
  >
    <div class="flex flex-col md:gap-5">
      <h1
        class="text-[42px] text-[#090b11] font-bold tracking-wider leading-[1.1] md:text-7xl"
      >
        Hello, my name is Johannes Drechsler!
      </h1>
      <p
        class="text-xl max-w-[37ch] mx-auto md:mx-0 text-[#3d4663] max-w-3xl !leading-[39px] md:text-[26px]"
      >
        I am a Full-Stack Software Engineer with a passion for delivering
        high-quality, performant, and accessible user experiences.
      </p>
      <ul class="hidden gap-5 md:flex">
        <li
          class="bg-accent text-white font-semibold text-lg px-[1rem] py-[0.5rem] flex gap-2 items-center rounded-full"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="30"
            height="30"
            viewBox="0 0 256 256"
            aria-hidden="true"
            stroke="currentcolor"
            fill="currentcolor"
          >
            <g>
              <path
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="16"
                d="m64 88-48 40 48 40m128-80 48 40-48 40M160 40 96 216"
              ></path>
            </g></svg
          ><span>Developer</span>
        </li>
        <li
          class="bg-accent text-white font-semibold text-lg px-[1rem] py-[0.5rem] flex gap-2 items-center rounded-full"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="30"
            height="30"
            viewBox="0 0 256 256"
            aria-hidden="true"
            stroke="currentcolor"
            fill="currentcolor"
          >
            <g>
              <circle
                cx="168"
                cy="88"
                r="64"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="16"
              ></circle>
              <path
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="16"
                d="m213.3 133.3-90.6-90.6M100 156l-12 12m16.8-70.1L28.1 202.5a7.9 7.9 0 0 0 .8 10.4l14.2 14.2a7.9 7.9 0 0 0 10.4.8l104.6-76.7"
              ></path>
            </g></svg
          ><span>Musician</span>
        </li>
        <li
          class="bg-accent text-white font-semibold text-lg px-[1rem] py-[0.5rem] flex gap-2 items-center rounded-full"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="30"
            height="30"
            stroke="currentcolor"
            fill="currentcolor"
            viewBox="0 0 256 256"
            aria-hidden="true"
          >
            <g>
              <circle
                cx="68"
                cy="188"
                r="28"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="16"
              ></circle>
              <path
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="16"
                d="m40 72 40 40m0-40-40 40m136 56 40 40m0-40-40 40M136 80V40h40"
              ></path>
              <path
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="16"
                d="m136 40 16 16c40 40 8 88-24 96"
              ></path>
            </g>
            <linearGradient
              id="icon-gradient-2fw5qr68a"
              x1="23"
              x2="235"
              y1="43"
              y2="202"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="var(--gradient-stop-1)"></stop>
              <stop offset=".5" stop-color="var(--gradient-stop-2)"></stop>
              <stop offset="1" stop-color="var(--gradient-stop-3)"></stop>
            </linearGradient></svg
          ><span>Tinker</span>
        </li>
      </ul>
    </div>
    <img
      class="bg-gray-100 max-w-full h-auto rounded-[4.5rem] shadow-md object-cover"
      src="public/assets/profile.jpg"
      width="480"
      alt="Hero image"
    />
  </section>
</div>
