<nav
  class="relative grid items-center justify-between grid-flow-col px-2 py-1 marker:content-center"
>
  <div>JD</div>
  <details class="w-full select-none sm:hidden" open>
    <summary
      class="list-none bg-gray-100 rounded-md hover:cursor-pointer hover:bg-gray-200"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="40"
        height="40"
        viewBox="0 0 256 256"
        aria-hidden="true"
        stroke="currentcolor"
        fill="currentcolor"
        class="astro-patnjmll"
        data-astro-cid-patnjmll=""
      >
        <g data-astro-cid-patnjmll="">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="16"
            d="M40 128h176M40 64h176M40 192h176"
          ></path>
        </g>
      </svg>
    </summary>
    <div class="absolute left-0">
      <div>Home</div>
      <div>Work</div>
      <div>About</div>
    </div>
  </details>
  <ul class="hidden sm:block">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
  </ul>
</nav>
