<div class="w-full mx-auto px-[1.5rem] max-w-[83rem]">
  <section class="lg:px-[2.5rem]">
    <ul
      class="grid grid-flow-row gap-y-10 gap-x-10 text-left shadow-md place-self-stretch p-6 rounded-xl border md:grid-flow-col xl:p-10"
    >
      <li class="flex flex-col gap-y-1 md:gap-y-4">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          viewBox="0 0 256 256"
          aria-hidden="true"
          stroke="url(#icon-gradient-39h6ynwbr)"
          fill="url(#icon-gradient-39h6ynwbr)"
        >
          <g>
            <circle
              cx="68"
              cy="188"
              r="28"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="16"
            ></circle>
            <path
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="16"
              d="m40 72 40 40m0-40-40 40m136 56 40 40m0-40-40 40M136 80V40h40"
            ></path>
            <path
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="16"
              d="m136 40 16 16c40 40 8 88-24 96"
            ></path>
          </g>
          <linearGradient
            id="icon-gradient-2fw5qr68a"
            x1="23"
            x2="235"
            y1="43"
            y2="202"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="blue"></stop>
            <stop offset="1"></stop>
            <stop offset="0.5"></stop>
          </linearGradient>
        </svg>
        <p
          class="text-xl leading-[1.1] xl:text-3xl font-semibold tracking-wide"
        >
          Strategy-Minded
        </p>
        <p class="text-[#3d4663]">
          Throughout my extensive experience as a Full-Stack Software Engineer,
          I have worked with all the popular JS frameworks. I love JS but
          sometimes it is not necessary to use it. I am not a fan of using a
          framework just because it is popular. I like to use the right tool for
          the job.
        </p>
      </li>
      <li class="flex flex-col gap-y-1 md:gap-y-4">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          viewBox="0 0 256 256"
          aria-hidden="true"
          stroke="url(#icon-gradient-39h6ynwbr)"
          fill="url(#icon-gradient-39h6ynwbr)"
        >
          <g>
            <path
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="16"
              d="M94.1 184.6c-11.4 33.9-56.6 33.9-56.6 33.9s0-45.2 33.9-56.6m124.5-56.5L128 173.3 82.7 128l67.9-67.9C176.3 34.4 202 34.7 213 36.3a7.8 7.8 0 0 1 6.7 6.7c1.6 11 1.9 36.7-23.8 62.4Z"
            ></path>
            <path
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="16"
              d="M184.6 116.7v64.6a8 8 0 0 1-2.4 5.6l-32.3 32.4a8 8 0 0 1-13.5-4.1l-8.4-41.9m11.3-101.9H74.7a8 8 0 0 0-5.6 2.4l-32.4 32.3a8 8 0 0 0 4.1 13.5l41.9 8.4"
            ></path>
          </g>
          <linearGradient
            id="icon-gradient-1x44qt0w8"
            x1="23"
            x2="235"
            y1="43"
            y2="202"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="blue"></stop>
            <stop offset="1"></stop>
            <stop offset="0.5"></stop>
          </linearGradient>
        </svg>
        <p
          class="text-xl leading-[1.1] xl:text-3xl font-semibold tracking-wide"
        >
          Performance Oriented
        </p>
        <p class="text-[#3d4663]">
          I love performance. I imagine creating apps like painting a picture.
          Without friction or refreshes or losing focus. Instant previews and no
          wait. The current tooling system does not allow for such a workflow
          which is why I am experimenting with creating my own framework | build
          | tool workflow that will allow me to create apps like painting a
          picture.
        </p>
      </li>
      <li class="flex flex-col gap-y-1 md:gap-y-4">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          viewBox="0 0 256 256"
          aria-hidden="true"
          stroke="url(#icon-gradient-39h6ynwbr)"
          fill="url(#icon-gradient-39h6ynwbr)"
        >
          <g>
            <path
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="16"
              d="m80 96 40 32-40 32m56 0h40"
            ></path>
            <rect
              width="192"
              height="160"
              x="32"
              y="48"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="16.97"
              rx="8.5"
            ></rect>
          </g>
          <linearGradient
            id="icon-gradient-39h6ynwbr"
            x1="23"
            x2="235"
            y1="43"
            y2="202"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="blue"></stop>
            <stop offset="1"></stop>
            <stop offset="0.5"></stop>
          </linearGradient>
        </svg>
        <p
          class="text-xl xl:text-3xl font-semibold leading-[1.1] tracking-wide"
        >
          Accessibility Focused
        </p>
        <p class="text-[#3d4663]">
          I did a 6-months Nanodegree with the Google Chrome engineers learning
          about the importance of accessibility and how to make websites
          accessible. I make sure that all my websites are accessible and user
          friendly.
        </p>
      </li>
    </ul>
  </section>
</div>
